@{
    ViewData["Title"] = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a href="/Mockups/Quiz">Quiz</a></li>
</ul>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
