* {
    margin: 5px;
    padding: 0;
    font-family: 'Times New Roman';
}

body {
    overflow: hidden;
}

.box {
    text-align: left;
    font-size: 12px;
    color: black;
    background-color: aqua;
    height:180px;
    margin: auto;
    border:2px solid green;
}