@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Calc Service Demonstration</h2>

<ul>
    <li><a href="/CalcService/PassUsingModel">Using Model</a></li>
    <li><a href="/CalcService/PassUsingViewData">Using ViewData</a></li>
    <li><a href="/CalcService/PassUsingViewBag">Using ViewBag</a></li>
    <li><a href="/CalcService/AccessServiceDirectly">Using Service Directly</a></li>
</ul>
