* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    flex: 1;
}

.header {
    background-color: #EAEAEA;
    color: black;
    text-align: left;
    height: 90px;
    display: flex;
    margin-top: 0;
}

.left-column {
    width: 200px;
    background-color: #C8FC98;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.content-column {
    flex-grow: 1;
    background-color: white;
    box-sizing: border-box;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}